*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* common code starts form here */
.style-description{
    font-weight: 700;
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
    width: 90%;
    margin: 10px 0;
}
.style-title{
    color: #3A3A3A;
    font-size: 55px;
    font-weight: 700;
}
/* common code starts form here */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 120px;
}
nav > ul li{
    list-style: none;
}
nav > ul{
    display: flex;
    gap: 30px;
}
header{
    height: calc(100vh - 60px);
}
/* banner style starts form here */
.banner-btn{
    padding: 10px 25px;
    border-radius: 41px;
    background: #E02C6D;
    border: none;
    margin: 10px 0;
}
.image-background{
    background-image: url(/images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-btn i{
    padding-left: 5px;
}
.banner{
    display: flex;
    align-items: center;
    margin: 100px 100px 0px 150px;
}
.banner-info{
    width: 100%;
}
.banner-image{
    width: 100%;
}
/* logo section starts form here */
.logo-container{
    background: #ffffff;
    box-shadow: 0px 0px 5px 0px black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 90%;
    margin: 100px auto;
}
.logo{
    display: flex;
    gap: 50px;
}